

// Colores
$color-white: #FFFFFF;
$color-blue-light:#5c5776;
$color-blue: #13005A;

//Tamaños de fuentes MOBILE
$tamano-titulo-header-mobile: 48px;
$tamano-subtitulo-header-mobile: 32px;
$span-header-mobille: 14px;

$tamano-titulo-header-mobile: 32px;
$tamano-parrafo-mobile: 20px;

//Tamaños de fuentes DESK
$tamano-titulo-header-desk: 60px;
$tamano-subtitulo-header: 40px;
$span-header-desk: 20px;

$tamano-titulo-header: 32px;
$tamano-parrafo: 20px;

//PADDING MOBILE
$padding-360-mobile: 16px;
$padding-R-L-desk: 16px;

//PADDING DESKTOP:
$padding-R-L-desk: 90px;
