/**************Custom properties****************/
:root {
    --first-color: #ffff;
    --second-color: #458EFE;
    --third-color: #191919;
    --fourth-color:#F2CD47;
    --text-color-1: #D7E7FF;
    --text-color-2: #191919;
    --font: "Roboto", sans-serif;
}







/**********************Reset*********************/
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
    transition: 2s;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #D7E7FF;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

/**********************Components****************/
.contenedor-separador{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.separador{
    width: 60px;
    height: 2px;
    border: 2px solid var(--fourth-color);
    margin: 0 auto;
  
    
}
/**********************MENU****************/
.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    right: 100%;
    top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D7E7FF;
    pointer-events: none;
    transition:0.5s all ease-in-out;
    cursor: pointer;
    
}

.menu.aparece{
    transform: translateX(100%);
    transition:0.5s all ease-in-out;
    pointer-events: auto;
}



.menu a{
    padding: 20px;
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
    color: #777777;
}

.menu a:hover{
    
    color: var(--third-color);
}
.button{
    border: 2px solid var(--second-color);
    box-sizing: border-box;
    border-radius: 2px;
    height: 50px;
    width: 208px;
    padding: 0px;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    background-color: #D7E7FF;
    color: var(--second-color);
    outline: none;
  
}





/**********************Utilities*****************/

.container-header{
    margin-left: 0;
    margin-right: auto;
   
}

.none{
    display: none;
}

.hero-back-content{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.hero-back{
    background-color: var(--second-color);
    background-size: cover;
    padding-bottom: 10px;
}

.hero-text{
    position: relative;
    left: 0px;
    text-align: center;
    color: #FAFAFA;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    padding: 30px 24px 50px 24px;
    animation-name: trasition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes transition{
    from{}
    to{top:100px}
}

.hero-img{
    margin: 0 auto;
    animation-name: efecto-imagen;
    animation-duration: 1.5s;
    animation-delay: 1s;
    
}

@keyframes efecto-imagen{
    from{
        position: relative;
        top: 500px;
        opacity: 0;
    }

    to{
        position: relative;
        top: -100;
        opacity: 1;
    }
}

/***********************BENEFICIOS**************************/

.beneficios h2{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    padding: 50px 24px 0 24px;
    color: var(--text-color-2);
 
}

.card-inner.is-flipped{
    transform: rotateY(180deg);
}
    

.card-inner{
    width: 210px;
    height: 230px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
   
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
     
}

.card-depth{
    position: relative;
    top: 15px;
    transform: translateZ(80px) scale(0.98);
    perspective: inherit;
    
}

.front h1{
    color: var(--text-color-1);
    text-align: center;
}

.back h1{
    color: var(--text-color-1);
    text-align: center;
}

.back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    background-color: var(--second-color)
}

.front{
    transform-style: preserve-3d;
}

.circulo{
    position: relative;
    background-color:#458EFE;
    left: 16.67%;
    right: 16.67%;
    top: 6.52%;
    bottom: 32.61%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.circulo img{
    opacity: 100%;
    position: relative;
    left: 20px;
    top: 10px;
    z-index: 999;
}

.card h4{
    color: var(--text-color-2);
    text-align: center;
    padding-top: 5px;
    padding-right: 43px;
    padding-left: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.card-depth p{
    text-align: center;
    color: #FFFFFF;
}


/**********************CONTACTO******************************/
.contacto{
    
}
.contacto h2{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    padding: 50px 24px 0 24px;
    color: var(--text-color-2);
}

.contact-form{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--second-color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.form-control{
    height: 36px;
    width: 250px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.1s;
    outline: none;
    
}

.form-group :focus-within{
    border-bottom: 2px solid rgba(0, 0, 0, 1.7);
}



.form-group label{
  font-size: 14px;
}

.boton-solicitar{
    width: 195px;
    height: 40px;
    background: var(--fourth-color);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
}
 
.redes{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.redes a{
    padding: 15px;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.redes a:hover{
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--fourth-color);
    fill: black;
}
.enlace-form:hover .path{
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--fourth-color);
    fill: black;
    
}














/**********************Site Style***************************/

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    
}

.header > .container-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    position: relative;
    left: 10px;
}

.hamburger{
    position: relative;
    top: 6px;
}

.home{
    margin-top: 65px;
}

/***********************************CARDS BENEFICIOS*****************************************/
.cards-beneficios-container{
    display: flex;
    justify-content: center;
    
}
/*********************************FORM**************************************/
.form-control{
    margin-bottom: 20px;
}
.grid-container {
    background-color: var(--second-color);
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "redes redes redes redes "
      "nombre nombre apellido apellido"
      "dni dni email email"
      "comentario comentario comentario comentario"
      "boton boton boton boton";
  }

  .imagen{
      display: none;
  }

  .redes{
    grid-column: 1/5;
    margin: 0 auto;
   
  }
  .nombre{
      
      grid-column: 1/5;
      margin: 0 auto;
     
  }
  .apellido{
      grid-column: 1/5;
      margin: 0 auto;
     
  }
  .dni{
      grid-column: 1/5;
      margin: 0 auto;
  }

  .email{
      grid-column: 1/5;
      margin: 0 auto;
  }

  .comentario{
      grid-column: 1/5;
      margin: 0 auto;
  }

  .boton{
      grid-column: 1/5;
      margin: 0 auto;
  }

  /****************PREFOOTER***********************/
  
  
  .grid-container-pre {
    height: 260px;
    margin-top: 100px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
      "contacto contacto"
      "redes-pre redes-pre";
  }
  
  .redes-pre { 
     
    grid-area: redes-pre; 
   }

   .redes-container{
       
       display: flex;
       flex-direction: row;
       justify-content: center;
       z-index: 99999;
   }

   .redes-container a{
    margin-right: 15px;
    cursor: pointer;
   
    
}

  
  .contacto { 
      grid-area: contacto; 
      z-index: 99999;
    }
  
  .paginas { 
      grid-area: paginas;
      display: none;
      z-index: 99999;
             
    }
  
  .general-pre a ,p{
        
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    z-index: 99999;
  }

  .general-pre a {
      color:#777777;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 19px;
      text-decoration: none;
      transition:  1s;
      z-index: 99999;
  }

  .general-pre a:hover{
      color: black;
  }

  .prefooter{
    width: 100%;
    background-color: #f2f2f2;
}

.svg-pre{
    display: none;
}

footer{
    text-align: center;
}

footer small{
    font-family: var(--font);
    font-weight: bold;
    
}

.container-loader{
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blob img{
width: 300px;
margin-left: 30px;
}

@media screen and (min-width: 700px){

    .hero-text{
        left: 0px;
    }

    .cards-beneficios-container{
        display: block;
        
    }

    .grid-container-cards {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 0px 0px;
        grid-template-areas:
          "ambulancia rehabilitacion helicoptero"
          "mapamundi prestadores prestamo";
      }
      
      .ambulancia { grid-area: ambulancia; }
      
      .rehabilitacion { grid-area: rehabilitacion; }
      
      .helicoptero { grid-area: helicoptero; }
      
      .mapamundi { grid-area: mapamundi; }
      
      .prestadores { grid-area: prestadores; }
      
      .prestamo { grid-area: prestamo; }

.redes{
  padding: 0;
}

.contact-form{
    width: 500px;
    height: 472px;
}

.form-control{
    width: 220px;
    margin-right: 10px;
}

.form-group{
    margin-left: 15px;
    margin-bottom: 30px;
}
#comentario{
   width: 450px;
}

.imagen{
  display: none;
}
.grid-container {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "redes redes redes redes "
      "nombre nombre apellido apellido"
      "dni dni email email"
      "comentario comentario comentario comentario"
      "boton boton boton boton";
  }

  .redes{
    grid-column: 1/5
  }
  .nombre{
      
      grid-column: 1/3;
  }
  .apellido{
      grid-column: 3/5;
     
  }
  .dni{
      grid-column: 1/3;
  }

  .email{
      grid-column: 3/5;
  }

  .comentario{
      grid-column: 1/5;
  }

  .boton{
      grid-column: 1/5;
      margin: 0 auto;
  }

  .grid-container-pre {
    height: 160px;
    margin-top: 100px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre .";
  }
  
  .redes-pre { 
     
    grid-area: redes-pre; 
   }

   .redes-container{
       
       display: flex;
       flex-direction: row;
       justify-content: start;
       
   }

   .redes-container a{
    margin-right: 15px;
    cursor: pointer;
    
}

  
  .contacto { 
      grid-area: contacto; 
    }
  
  .paginas { 
      grid-area: paginas;
      display: block;
             
    }
  
  .general-pre a ,p{
        
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }

  .general-pre a {
      color:#777777;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 19px;
      text-decoration: none;
      transition:  1s;
  }

  .general-pre a:hover{
      color: black;
  }

  .prefooter{
    width: 100%;
    background-color: #f2f2f2;
}

.svg-pre{
    display: block;
}

.container-loader{
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prefooter{
    
}

.svg-footer{
    margin-bottom: -100px;
}

.blob img{
    width: 500px;
    margin-left: 30px;
}


}

@media screen and (min-width: 1024px){
    .header{
        position: relative;
        top: 0;
    }

    .home{
        margin-top: 0px;
    }

    .hero-back{
        height: 590px;
    }

    .hero-back-content{
        flex-direction: row;
        height: 620px;
        justify-content: center;
        align-items: center;
    }

    .contenedor-separador{
        margin-top: -50px;
        margin-bottom: 20px;
    }

    .hero-text{
        position: relative;
        width:635px;
        text-align: left;
        font-size: 48px;
        line-height: 56px;
        padding-left: 100px;
        opacity: 0;
        animation-name: transition;
        animation-duration: 2.5s;
        animation-delay: 1;
        animation-fill-mode: forwards;
    }

    
@keyframes transition{
    from{}
    to{opacity: 1;}
}

    .contenedor-img img{
        width: 400px;
        position: relative;
        animation-name: efecto-imagen;
        animation-duration: 1s;
        animation-delay: 0.5s;
        opacity: 0;
        animation-fill-mode: forwards;
        top: 200px;
    }

    @keyframes efecto-imagen{
        from{
            
        }
         
        to{
            opacity: 1;
            top: 80px;
        }
    
       
    }

    .container-header{
        height: 70px;
        width: 100%;
        font-size: 13px;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }

    .hamburger{
        display: none!important;
    }

    .logo{
        top: -7px;
    }

    .menu{
        pointer-events: auto;
        position: relative;
        right: 0;
        top: 0;
        flex-direction: row;
        justify-content: flex-start;
        height: 60px;
        box-sizing: border-box;
        padding: 0;
        background: transparent;
        margin-top: 5px;
        
        
        
    }


    .menu a{
        float: left;
    padding: 0 13px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    }

    .menu a:hover{
    font-size: 14px;
    }

    .menu .button p{
        position: relative;
        left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .menu small{
        font-size: 13px;
        
        position: absolute;
        left: 174px;
        top: 40px;
    }

    .button{
       position: relative;
       top: -2px;
       width: 208px;
       height: 40px;
       background-color: transparent;
       cursor: pointer;
    }

    .h1-menu{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 7px;
        font-size: 40px;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
    }

    .beneficios h2{
        font-size: 30px;
        padding: 100px 250px 40px 250px;
       
    }

    .cards-beneficios-container{
        display: flex;
        justify-content: center;
    }

    .grid-container-cards {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 0px 0px;
        grid-template-areas:
          "ambulancia rehabilitacion helicoptero"
          "mapamundi prestadores prestamo";
      }
      
      .ambulancia { grid-area: ambulancia; }
      
      .rehabilitacion { grid-area: rehabilitacion; }
      
      .helicoptero { grid-area: helicoptero; }
      
      .mapamundi { grid-area: mapamundi; }
      
      .prestadores { grid-area: prestadores; }
      
      .prestamo { grid-area: prestamo; }
      

    .contact-form{
        width: 904px;
    }

    .form-sec{
       width: 50%;
       margin: 0 auto;
    }

    .grid-container {
        width: 904px;
        height: 475px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "imagen redes redes"
            "imagen nombre apellido"
            "imagen dni email"
            "imagen comentario comentario"
            "imagen boton boton";
        }

.imagen { grid-area: imagen; display: block; 
    margin-left: -1.4px;
}

.redes { 
    grid-area: redes;
    padding: 20px;
}

.nombre { 
    grid-area: nombre;
    margin-left: 40px;
}

.apellido { grid-area: apellido; }

.dni {
     grid-area: dni;
       margin-left: 40px; 
}

.email { grid-area: email;
         
}

.form-group textarea{
    width: 466px;
    margin-right: 21px;
}
.comentario { 
    grid-area: comentario; 
    margin: 0 auto;
    
}

#comentario{
    height: 55px;
}

.boton { 
    grid-area: boton;
    margin: 0 auto;
    position: relative;
    top:-15px;
 }

 /*******************prefooter********************/
.prefooter{
    margin-top: 300px;
    width: 100%;
    height: 45vh;
    padding-bottom: 100px;
    background-color: #f2f2f2;
}

.grid-container-pre {
    height: 160px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre ."
      ". paginas contacto redes-pre .";
  }
  
  .redes-pre { 
     
    grid-area: redes-pre; 
   }

   .redes-container{
       
       display: flex;
       flex-direction: row;
       margin: 0 auto;
       
   }

   .redes-container a{
    margin-right: 15px;
    cursor: pointer;
    
}

  
  .contacto { grid-area: contacto; 
    margin: 0 auto;
                
            }
  
  .paginas { grid-area: paginas;
             margin: 0 auto;
                 }
  
  .general-pre a ,p{
        
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }

  .general-pre a {
      color:#777777;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 19px;
      text-decoration: none;
      transition:  1s;
  }

  .general-pre a:hover{
      color: black;
  }

  .container-loader{
      height: 100vh;
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .hidden{
      overflow: hidden;
      transition: 1s;
  }

  .svg-footer{
      position: absolute;
      margin-top: -275px;
}

    .blob img{
        width: 700px;
        margin-left: 30px;
    }


      
}